<nav class="navbar navbar-expand-lg  ">
  <div class="container-fluid ">
    <a class="navbar-brand nav-text" href="/">مطبخ ام نور للحلويات</a>
    <!-- need to show the icon it just a color thing -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon icon  "></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active nav-text" aria-current="page" href="/cake">حلويات </a>
        </li>
        <li class="nav-item">
          <!-- <a class="nav-link nav-text" href="/about">معلومات عني </a> -->
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link nav-text" href="/cake/new">حلوى جديدة </a>
        </li> -->
        <div class="navbar-menu navbar-end">
          <% if (typeof user !== 'undefined'){ %>
            <p class="navbar-item"><%= user.username%></p>
          <% } %>
          <% if (typeof routes !== 'undefined') {%> <% routes.forEach((route)=>{ %>
             <a class="navbar-item" href="<%= route.href %>"> <%= routes.title %></a>
             <% }) %> 
          <% } %>
        </div>
        <li class="nav-item">
          <!-- <a class="nav-link nav-text" href="user/register">تسجيل الدخول</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-text" href="/login">login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-text" href="/logout">log out</a> -->
        </li>

        
      <!-- <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline search" type="submit">   بحث  </button>
      </form> -->
    </div>
  </div>
</nav>








  