<nav class="navbar navbar-expand-lg  ">
  <div class="container-fluid ">
    <a class="navbar-brand nav-text" href="/">مطبخ ام نور للحلويات</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active nav-text" aria-current="page" href="/cake">حلويات </a>
        </li>
        <li class="nav-item">
          <!-- <a class="nav-link nav-text" href="/cake/">وصفات</a> -->
        </li>
        <li class="nav-item">
          <a class="nav-link nav-text" href="/about">معلومات عني </a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-text" href="/cake/new">حلوى جديدة </a>
        </li>
        <li class="nav-item">
          <!-- <a class="nav-link nav-text" href="/recipes/new">وصفة جديدة</a> -->
        </li>
        <li class="nav-item">
          <a class="nav-link nav-text" href="/recipes">تسجيل الدخول</a>
        </li>
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle nav-text" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item nav-text" href="#">Action</a></li>
            <li><a class="dropdown-item nav-text" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item nav-text" href="#">Something else here</a></li>
          </ul>
        </li> -->
        
      <!-- <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline search" type="submit">   بحث  </button>
      </form> -->
    </div>
  </div>
</nav>








  