<!DOCTYPE html>
<html dir="rtl" lang="ar">
    <%- include ('../partials/head.ejs', {page: 'New'}) %>
    <%- include ('../partials/nav.ejs') %>
        <main>
            <section class="selector">
                <form  action="/cake" method="POST"> 
                    <fieldset class="text-center">
                        <section class="hero is-medium has-background-light">
                            <div class="hero-body text-center">
                                <h1 class="title">  اضافة  حلوى جديدة  <h1>
                            </div>
                        </section>
                        <div class="form-group">
                            <label for="cake-name"> اسم الحلوى </label>
                            <div>
                              <input type="text" placeholder ="اسم الحلوى " name="name"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="cake-price"> ثمن الحلوى  </label>
                            <div>
                              <input type="number" placeholder=" الثمن " name="price"  />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="cake-image"> صورة الحلوى </label>
                            <div>
                              <input type="text" placeholder="http://" name="image" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="cake-price"> وصف الحلوى  </label>
                            <div>
                              <input type="text" placeholder=" الوصف " name="description"  />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="cake-price"> المكونات </label>
                            <div>
                              <input type="text" placeholder=" المكونات" name="ingredients"  />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="cake-price"> وقت الاعداد  </label>
                            <div>
                              <input type="number" placeholder=" الوقت " name="prep"  />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="cake-image"> وقت  الطهي </label>
                            <div>
                              <input type="text" placeholder="الوقت" name="cooking"  />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="cake-image">تعليمات </label>
                            <div>
                              <input type="text" placeholder="تعليمات" name="direction" />
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="control">
                                <button class="button is-info">اضف</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </section>
        </main>
    <%- include ('../partials/footer.ejs') %> 
    </body>
</html>