<!DOCTYPE html>

<html dir="rtl" lang="ar">
        <%- include ('./partials/head.ejs', {page: 'معلومات عني'}) %>
        <%- include ('./partials/nav.ejs') %>  
    <main >
        <div class="container-fluid">
          <section class="hero is-medium has-background-light">
            <div class="hero-body text-center">
                <h1 class="title"> معلومات عني<h1>
            </div>
        </section> 
            <div class="card about">
                <img class="card-img-top a-img first"  src="https://scontent-iad3-2.xx.fbcdn.net/v/t39.30808-6/293351472_3210368029227928_1071758650995429185_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=174925&_nc_ohc=sO9cx7DzOn4AX8PKDPe&_nc_ht=scontent-iad3-2.xx&oh=00_AfDgxQa490XscC70hUXKGORFYE-oKZe4n1ttwue9Cw5DuQ&oe=639FB446" alt="Card image" />
                <div class="card-body">
                        <p class="card-text">
                          بدأ شغف هند بالحلويات المغربية منذ الصغر لكن كمهنة بدأت منذ عام 2016 و لأن الجميع أحب حلوياتها كثيرا،أضافت الى ذلك التدوين بهدف  تعليم الناس كيفية طهي الحلويات المغربية الاصيلة.   
                        </p>
                </div>
            </div>
        </div>
        <br>
        <div class="container-fluid">
            <div class="card about">
                <img class="card-img-top a-img"  src="https://scontent-iad3-2.xx.fbcdn.net/v/t39.30808-6/293351472_3210368029227928_1071758650995429185_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=174925&_nc_ohc=sO9cx7DzOn4AX8PKDPe&_nc_ht=scontent-iad3-2.xx&oh=00_AfDgxQa490XscC70hUXKGORFYE-oKZe4n1ttwue9Cw5DuQ&oe=639FB446" alt="Card image" />
                <div class="card-body">
                        <p class="card-text">
                          بدأ شغف هند بالحلويات المغربية منذ الصغر لكن كمهنة بدأت منذ عام 2016 و لأن الجميع أحب حلوياتها كثيرا،أضافت الى ذلك التدوين بهدف  تعليم الناس كيفية طهي الحلويات المغربية الاصيلة.   
                        </p>
                </div>
            </div>
        </div>
      </main>
      <%- include ('./partials/footer.ejs') %>  
</body>
</html>