<!DOCTYPE html>

<html lang="en">
        <%- include ('./partials/head.ejs', {page: 'All artist'}) %>
        <%- include ('./partials/nav.ejs') %>  
    <section class="hero is-medium has-background-light">
        <div class="hero-body">
            <p class="title"> مطبخ ام نور للحلويات  </p>
        </div>
    </section>
    <main class="container is-max-widescreen">
        <h1> معلومات عني </h1>
        <div class="columns is-multiline p-5">
            <div class="column is-one-third">
                <article class="card">
                        <section class="card-image">
                            <figure class="image is-3by3">
                                <img src="" alt="Placeholder image" />
                            </figure>
                        </div>
                    </section>
                    <div class="card-content">
                        <div class="content">
                            <p>
                                حلويات مشكلة لجميع المناسبات
                            </p>
                        </div>
                    </div>
                </article>
            </div>
            <div class="column is-one-third">
                <article class="card">
                        <section class="card-image">
                            <figure class="image is-3by3">
                                <img src="" alt="Placeholder image" />
                            </figure>
                        </div>
                    </section>
                    <div class="card-content">
                        <div class="content">
                            <p>
                                حلويات مشكلة لجميع المناسبات
                            </p>
                        </div>
                    </div>
                </article>
            </div>
        </div>
        <div>
            <h1>Follow me:</h1>
            <div>
                <i class="bi bi-instagram"></i>
                <i class="bi bi-facebook"></i>
                <i class="bi bi-youtube"></i>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-tiktok" viewBox="0 0 16 16">
                    <path d="M9 0h1.98c.144.715.54 1.617 1.235 2.512C12.895 3.389 13.797 4 15 4v2c-1.753 0-3.07-.814-4-1.829V11a5 5 0 1 1-5-5v2a3 3 0 1 0 3 3V0Z"/>
                  </svg>
                  <i class="bi bi-tiktok"></i>
            </div>
        </div>
    </main>
</body>
</ht