<!DOCTYPE html>

<html lang="en">
        <%- include ('./partials/head.ejs', {page: 'All cake'}) %>
        <header>
            <div
                class="img-fluid bg-image"
                style="
                background-image: url('https://i.imgur.com/Jop6XGR.jpg');
                height: 640px; width: 1345px;
                "
            >
            <!-- <img src="https://i.imgur.com/Jop6XGR.jpg" title="source: imgur.com" /> -->
        </header>
        <%- include ('./partials/nav.ejs') %>  
        
        <main>
            <h1> الصفحة الرئيسية</h1>
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="https://i.imgur.com/6slyagb.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="https://i.imgur.com/mxNJMp2.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="https://i.imgur.com/eh9OzIv.jpg" class="d-block w-100" alt="...">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
            <div>
                <h1> معلومات عني </h1>
                <article class="card">
                    <section class="card-image">
                        <figure class="image is-3by3">
                            <img src="" alt="Placeholder image" />
                        </figure>
                    </div>
                    </section>
                    <div class="card-content">
                        <div class="content">
                            <p>
                              بدأت شغف هند بالحلويات المغربية منذ الصغر لكن كمهنة بدأت منذ عام 2016 و لأن الجميع أحب حلوياتها كثيرا،أضافت الى ذلك التدوين بهدف  تعليم الناس كيفية طهي الحلويات المغربية الاصيلة.   
                            </p>
                            <a class="btn btn-info" role="button" href="/about">اقرأ المزيد</a>
                        </div>
                    </div>
                </article>
            </div>
            <div>
              <a class="btn btn-secondary btn-lg" href="/order"> للطلب</a>
            </div>
            <%- include ('./partials/footer.ejs') %>     
        </main>
    </body>
</html>



