<!DOCTYPE html>

<html lang="en">
        <%- include ('./partials/head.ejs', {page: 'All cake'}) %>
        <header>
            <div
    class="p-5 text-center bg-image"
    style="
      background-image: url('https://i.imgur.com/Jop6XGR.jpg');
      height: 640px; width: 1345px;
    "
  >
            <!-- <img src="https://i.imgur.com/Jop6XGR.jpg" title="source: imgur.com" /> -->
        </header>
        <%- include ('./partials/nav.ejs') %>  
        <main>
            <h1> الصفحة الرئيسية</h1>

        </main>
    </body>
</html>



