<!DOCTYPE html>
<html>
    <!-- This is my heading now -->
    <%- include ('./partials/head.ejs', {page: 'New'}) %>
    
    <!-- This is my nav bar now -->
    <%- include ('./partials/nav.ejs') %>

        <section class="hero-is-medium has-background-light">
            <div class="hero-body">
                <h1 class="title"> اضافة  حلوى جديدة </h1>
            </div>
        </section>
            <form action="/cake" method="POST">
                <div class="field">
                    <label class="label"> اسم الحلوى  </label>
                    <div class="control">
                        <input
                            class="input"
                            type="text"
                            placeholder="اسم الحلوى "
                            name="name"
                        />
                    </div>
                </div>
        
                <div class="field">
                    <label class="label"> ثمن الحلوى </label>
                    <div class="control">
                        <input class="input" type="number" placeholder="ثمن" name="price" />
                    </div>
                </div>
        
                <div class="field">
                    <label class="label"> صورة الحلوى  </label>
                    <div class="control">
                        <input
                            class="input"
                            type="text"
                            placeholder="http://"
                            name="image"
                        />
                    </div>
                </div>
                <div class="field">
                    <label class="label"> وصف الحلوى</label>
                    <div class="control">
                        <input
                            class="input"
                            type="text"
                            placeholder="وصف"
                            name="description"
                        />
                    </div>
                </div>
        
                <div class="field is-grouped">
                    <div class="control">
                        <button class="button is-info">اضاف</button>
                    </div>
                </div>
            </form>
        </section>
    </body>
</html>