<!DOCTYPE html>

<html dir="rtl" lang="ar">
        <%- include ('./partials/head.ejs', {page: 'All artist'}) %>
        <%- include ('./partials/nav.ejs') %>  
    <section class="hero is-medium has-background-light">
        <div class="hero-body">
            <p class="title"> مطبخ ام نور للحلويات  </p>
        </div>
    </section>
    <main>
        <div> 
            <p>
                     للطلب المرجو التصال بالرقم:
                06-34-05-98-72

            </p>
        </div>
        <%- include ('./partials/footer.ejs') %>  
    </main>
</body>
</html>