<!DOCTYPE html>

<html dir="rtl" lang="ar">
    <%- include ('./partials/head.ejs', {page: 'All artist'}) %>
    <%- include ('./partials/nav.ejs') %>  
    <main>      
        <section class="hero is-medium has-background-light m-5">
            <div class="hero-body text-center">
                <!-- u have a span in footer uneed to p attention css -->
                <h1 class="title">    حلويات <span>ام نور</span> المشكلة لجميع المناسبات   </h1>
            </div>
        </section>
        <div> 
            <div class="row  order">
                <h3 class="text-center">للطلب المرجو الاتصال بالرقم:</h3>
                <span class="text-center"> 
                    6-34-05-98-72 (212)
                </span>
            </div>
        </div>
        <div class="footer">
            <%- include ('./partials/footer.ejs') %>  
        </div>
    </main>
</body>
</html>