<!DOCTYPE html>
<html lang="en">
  
  <%- include ('../partials/head.ejs', {page: 'حلويات ام نور '}) %>
  <%- include ('../partials/nav.ejs') %>  
    
    

    <section class="hero is-fullheight-with-navbar is-link">
      <div class="hero-body is-flex-direction-column">
        <h1 class="title">Register</h1>
        <form action="/register" method="POST" class="box">
          <div class="field">
            <label class="label" for="username">اسم المستخدم:</label>
              <input class="input" name="username" type="text" placeholder="username" id="username"/>
          </div>
          <div class="field">
            <label class="label" for="email">البريد الإلكتروني:</label>
            
              <input
                class="input"
                name="email"
                type="email"
                id="email"
                placeholder="example@domain.com"
              />
            
          </div>
          <div class="field">
            <label class="label" for="password">كلمة السر:</label>
            
              <input
                class="input"
                name="password"
                type="password"
                placeholder="******"
              />
          </div>
          <div class="field">
            <label class="label" for password confirmation>تأكيد كلمة السر:</label>
            
              <input
                name="password Confirmation"
                class="input"
                type="password"
                placeholder="******"
                id="passwordConfirmation"
              />
           
          </div>
          <div class="field">
           
              <button class="button is-link is-fullwidth">اشتراك</button>
            
          </div>
        </form>
      </div>
    </section>
    <main class="container is-max-widescreen"></main>
  </body>
</html>