main{
  padding: 50px;
}
  body{
  background-color: #B9848C;
}
nav{
  background-color: #02315E;
}
.nav-text{
  color:#806491 ;
}
.search{
  background-color: azure;
  color:#806491;
}
h1{
  color: #2F70AF;

}
.d-block{
  width: 50%;
  height: 534px;
}
/* about page */
.about  {
  flex-direction: row;
  align-items: center;
  background-color: #806491;
  /* color:azure; */
}
.about .a-img {
  width: 30%;
}
/* .first{
  float: left;
} */
.a-btn{
  background-color: #2F70AF;
}
.a-btn .or-btn:hover{
  color: black;
	background-color: white;
	border-color: white;
	transition: 0.35s;
}
/* footer */
footer {
  background-color: #02315E;
}
.fo-text{
  color:#806491;
}
.fa {
  font-size: 20px;
  width: 20px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-youtube {
  background: #bb0000;
  color: white;
}
.fa-instagram {
  background: #e11be4;
  color: white;
}
.bi {
  font-size: 20px;
  width: 20px;
  text-align: center;
  text-decoration: none;
}

.bi:hover {
    opacity: 0.7;
}

.bi-tiktok{
    background:black;
    color:white;
}
span{
    justify-content: flex-end;
    font-size:medium;
}
.footer{           
  position: fixed;
  height: 18rem;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px
}

/* order */
.order{
  padding: 40px;
  margin: auto;
  border: solid 5px  black;
  width:50%;
  background-color: blueviolet;
  }
.or-btn {
  background-color: #2F70AF;
}
.or-btn :hover{
  color: black;
	background-color: white;
	border-color: white;
	transition: 0.35s;
}

/* new form */
.form-wrapper{
  padding:10px;
}
.form-row{
  display: flex;
  flex-direction: row;
}
.form-col{
  display: flex;
  flex:1;
  flex-direction: column;
  max-width: 1120;
  padding-left: 10px;
}
.form-item{
  display: flex;
  flex-direction: column;
  padding-top: 15px;
}
label{
  font-size:14px;
  font-weight: bold;
  margin-bottom: 5px;
}
.time-input{
  max-width: 100px;
  margin-right: 25px;
}
/* index */
img{
  width: 2rem;
  /* height: 1rem; */
} 
.price{
  float: left;
  color:azure;
}
.card{
  background-color: #806491;
}
.card-title {
  color:azure;
}
.ca-name{
  color:azure;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 20px;
  background-color: #02315E;
  padding: 30px;
  margin: 10px;
}
.container{
  background-color: #02315E;
  padding: 30px;
  margin: 10px;
}
/* show  */

.card{
  border: solid 2px;
  /* background-color: #B9848C; */
}
.edit{
  padding-left: 5px;
  padding-right: 15px;
}
.ca-show{
  /* background-color: #B9848C;
  ;
  padding: 10px; */
}
/* .header-image {
  background-image: url(“cat.jpg”);
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  }  */